<%- include("Partials/adminheader2") %>

<body>
   
    <div class="container">
      <div class="row">
        <div class="col-lg-12 my-4">
          <h1 align="center">Add Sneaker</h1>
        
          <form class="" action="/admin/sneaker/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="">Namesneaker</label>
              <input type="text" name="Namesneaker" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Mini detail</label>
                <input name="Minidetail" value="" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Detail</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Detail"></textarea>
              </div>
            
            <div class="form-group">
              <label for="">Brand</label>
              <p><select type="text" value=""  name="Brand" >
                <option>nike</option>
                <option>adidas</option>
                <option>jordan</option>
            </select>
            </div>
            
          
            <!-- <div class="form-group">
              <label for="">Size 7 US MEN</label>
             <p><select type="text" value=""  name="Size7" >
              <option>7 US</option>
          </select>
            </div>  
            <div class="form-group">
              <label for="">จำนวน</label>
              <p><select type="text" value=""  name="Count7" >
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
            </div>  


            <div class="form-group">
              <label for="">Size 8 US MEN</label>
             <p><select type="text" value=""  name="Size8" >
              <option>8 US</option>
  
          </select>
            </div>  
            <div class="form-group">
              <label for="">จำนวน</label>
              <p><select type="text" value=""  name="Count8" >
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
            </div> -->
            <label for="">Size US Men</label>
             <p><select type="text" value=""  name="Sizesneaker" >
              <option>7 US</option>
              <option>8 US</option>
              <option>9 US</option>
              <option>10 US</option>
              <option>11 US</option>
              <option>12 US</option>
              <option>13 US</option>
          </select> 
          <div class="form-group">
            <label for="">Count</label>
            <input type="text" name="Count" value=""  class="form-control">
          </div>
      
              
              <div class="form-group">
                <label for="">Color</label>
                <input type="text" name="Color" value=""  class="form-control">
              </div>

              <div class="form-group">
                <label for="">Price</label>
                <input type="text" name="Price" value=""  class="form-control">
              </div> 
    
              <p>Photo</p>
       
              <div class="from-grop">
                  <input type="file" class="form-control" name="Image" accept="Image/*" multiple>
                </div>
            
          
          
        </div> 
      </div>
      <center><div><input type="submit"  value="Submit" class="btn btn-success"></div></center>
      
    </div>
  </form> 
  </body>


  <%- include("Partials/footer") %>