<%- include("Partials/header4") %>
<br><br><br>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.card123 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.contact:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body >
<br>
<br>
<h1 style="text-align:center">Contact US</h1>
<div class="row justify-content-center">
    <div style="margin-top: 5%;"  class="col-md-4">
        <div class="card123">
            <img style="width: 100%; height: 200px;" src="chake2.jpg" alt="John" style="width:100%">
            <p style="margin-top: 5%; font-size: 22px;">Wasitphon Kaewpoolsri</p>
            <p class="title">Back End</p>
            <p>King Mongkut's University of  <br> Technology Thonburi</p>
            <p>Phone: 097-0264066</p>
            <div style="margin: 24px 0;">
              <a id="a" href="#"><i class="fa fa-dribbble"></i></a> 
              <a id="a" href="#"><i class="fa fa-twitter"></i></a>  
              <a id="a" href="https://www.instagram.com/ccs_chak/?hl=th"><i class="fa fa-instagram"></i></a>  
              <a id="a" href="https://www.facebook.com/CCSCHAK"><i class="fa fa-facebook"></i></a> 
            </div>
            <a href="https://www.facebook.com/CCSCHAK"><button class="contact" >Contact</button></a>
        </div>
    </div>
    <div style="margin-top: 5%;" class="col-md-4">
        <div class="card123">
            <img src="fluke.jpg" alt="John" style="width:100%">
            <p style="margin-top: 5%; font-size: 22px;">Pitpagon Chinanupagon</p>
            <p class="title">Front End</p>
            <p>King Mongkut's University of  <br> Technology Thonburi</p>
            <p>Phone: 085-8024324</p>
            <div style="margin: 24px 0;">
              <a id="a" href="#"><i class="fa fa-dribbble"></i></a> 
              <a id="a" href="#"><i class="fa fa-twitter"></i></a>  
              <a id="a" href="https://www.instagram.com/faluke_owo/?hl=th"><i class="fa fa-instagram"></i></a>  
              <a id="a" href="https://www.facebook.com/pitpagon.chinanupagon"><i class="fa fa-facebook"></i></a> 
            </div>
            
            <a href="https://www.facebook.com/pitpagon.chinanupagon"><button class="contact" >Contact</button></a>
        </div>
    </div>
</div>
